<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout Page</title>
</head>
<body>
    <div class="">
        <div class="">
            <form action="/authorize_payment" method="post">
                <div>
                    <label for="product">Product Name:</label>
                    <input type="text" id="product">
                </div>
                <div>
                    <label for="subtotal">SubTotal:</label>
                    <input type="text" id="subtotal">
                </div>
                <div>
                    <label for="shipping">Shipping:</label>
                    <input type="text" id="shipping">
                </div>
                <div>
                    <label for="tax">Tax:</label>
                    <input type="text" id="tax">
                </div>
                <div>
                    <label for="total">Total:</label>
                    <input type="text" id="total">
                </div>
                <input type="submit">
            </form>
        </div>
        
    </div>

</body>
</html>